.gradient-custom {
    /* fallback for old browsers */
    background: #333;
    background-image: url(../image/main.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    }